html,
body {
	/*height: 100%; /* Ensure the html and body take up the full height of the viewport */
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Include borders and padding in the element's dimensions */
}


header {
	background-color: black;
	border-bottom: 2px pink solid;
	width: 100%;
}


body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: pink;
	font-family: Arial, sans-serif;
}


h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3rem;
	color: pink;
	text-align: center;

	/* Lägger till  grön skuggning */
	text-shadow: 8px 8px 10px rgba(30, 255, 0, 0.5);
}


h1+p {
	font-size: 1.5rem;
	color: pink;
	text-align: center;
}


h2 {
	font-size: 1.5rem;
	color: pink;
}


/* Special h2 för den måste ha svart färg för att synas */
#black_h2 {
	color: black;
	text-align: center;
	font-size: 2.5rem;

	/* Lite avstånd så det blir snyggare */
	margin-top: 5rem;
	margin-bottom: -3rem;
}


h3 {
	text-align: center;
	font-size: 1rem;
}


.video iframe {
	/* Sätta den så den sitter fast på samma ställe */
	position: absolute;
	top: 50%;
	/* 35% om man vill ha högre upp. 100% funkade på min skärm. Annars kanske 50% funkar. 68% passade 1980 width*/
	left: 50%;
	transform: translateX(-50%);

	/* Lägger skugga så den sticker ut visuellt */
	box-shadow: 0 12px 30px rgba(0, 0, 0);

	/* Rundar hörnen å lägger ram */
	border-radius: 5%;
	border: 1.5px blue solid;

	/* Om man vill ha videon större kan man ändra dessa parametrar. */
	/*width: 50%;
	height: 50%;*/
}


/* Gör en grid med 4 columner och 2 rader. */
.background-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	/* Lägger lite skugga så att sketionen med bilderna sticker ut lite */
	box-shadow: 0 12px 30px rgba(0, 0, 0);
}




/* Gör så att bilderna läggs brevid varandra och är lika stora. */
.grid-item img {

	/* Säger att bilden ska ta upp 100% av rutans höjd och bredd. Object-fit och display block gör så att bilderna inte blir ihoptryckta verkar det som.*/
	/*
  width: 100%;
  height: 100%;
  object-fit: cover;
*/

	/* Funkar nice med liggande foton, alltså width 6400x4000*/
	width: 100%;
	/*height: auto;*/
	object-fit: cover;
	display: block;
}


/* Kursmatris med attributes */
.attributes {
	/* Pappersliknande färg */
	background-color: papayawhip;

	/* Gär så att alla attributes läggs rad på rad. */
	display: flex;
	flex-direction: column;
	align-items: center;

	/* Gör så att bilderna U och VG läggs i mitten */
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
}


/* Gör så att det blir linjer mellan raderna i kursmatrisen. */
.attributes section {
	border: 1px black solid;
}


/* Rundar kanterna på VG och U samt lägger till en ram så det blir snyggare. */
.attributes img {
	border-radius: 5px;
	border: 2px black solid;
}


/* Bakgrundsfärg rött för U */
.U {
	width: 90%;
	background-color: red;
}


/* Bakgrundsfärg grönt för VG */
.VG {
	width: 90%;
	background-color: green;
}

/* Footer om man vill ha */
footer {
	display: block;
	height: 110px;
	width: 100%;

	background-image: url(../images/martin_ny.jpg);
	background-size: 100px;
	border: 2px black solid;
}
